*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    min-height: 100vh;
}
.page{
    height:100vh;
    width:100%;
    background-color: rgb(4, 88, 72);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px;
    flex-direction: column;
}
.window{
    height:80vh;
    width:60vw;
    background-color: rgb(9, 49, 65);
    border-radius: 12px;
    overflow: hidden;
}
#ginfo{
    /* height:7.5vh; */
    /* background-color:rgb(28, 76, 127); */
    background-color: rgb(151, 196, 236);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    padding:10px 20px;
}
.part{
    margin:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    width:40%;
    font-weight: 800;
    font-size: 1.2em;
}
.values{
    font-size: 1.3em;
    background-color: rgb(156, 34, 130);
    height:55px;
    width:55px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bubbles{
    margin:20px;
    height:calc(100% - 9.5vh - 19px);
    /* background-color: brown; */
    padding:10px 20px;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: space-between;
}
#bubble{
    height:55px;
    width:55px;
    font-size: 1.3em;
    border-radius:50%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.result{
    height:30vh;
    width:30vw;
    position: absolute;
    backdrop-filter: blur(15px);
    border-radius: 12px;
    z-index: -1;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: 800;
    color:rgb(62, 10, 110);
}
.show{
    z-index:1;
}
.reset{
    padding:40px;
}
.btn{
    padding: 10px 20px;
    font-size: 2em;
    border-radius: 20px;
    cursor:pointer;
}
@media (max-width:900px){
    .window{
        width:75vw;
    }
    .part{
        width:40%;
        flex-direction: column;
        margin: 0;
    }
    .part h2{
        font-size: 1em;
    }
    .values{
        font-size: 1em;
        height:30px;
        width:30px;
    }
    #bubble{
        height:30px;
        width:30px;
    }
}
@media (max-width:500px){
    .window{
        width:90vw;
    }
    /* #ginfo{
        height:15vh;
    } */
    #ginfo .part{
        width:20%;
        font-size:1.2em;
    }
    #bubbles{
        margin: 5px 5px;
        padding: 5px 5px;
    }
    .btn{
        padding:5px 10px;
        font-size: 1.2em;
    }
    .result{
        font-size: 1.2em;
        height: 40vh;
        width:50vw;
    }
}
